/* Import font Poppins from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@import 'styles/form.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2c2c2c;
  background-color: #f4f5fa;
  border-color: #e7eaf5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  h1 {
    @apply font-semibold text-[26px] mb-[25px] tracking-normal overflow-hidden text-ellipsis whitespace-nowrap;
  }

  h2 {
    @apply font-semibold text-[20px] mb-[25px] tracking-normal overflow-hidden text-ellipsis whitespace-nowrap;
  }
}

@layer components {
  .circle-button {
    @apply w-[36px] h-[36px] rounded-full;
  }

  .popup-item {
    @apply cursor-pointer text-[14px] m-0 px-[15px] py-[5px] no-underline mb-2 hover:bg-[#00b2d514];
  }
}
